
#keyboard
	position absolute !important
	top 50%
	left 0
	right 0
	margin auto !important
	opacity 0
	animation-duration .4s
	animation-fill-mode forwards
	transform rotateX(45deg) translateY(300px)
	z-index 99
	ul
		li
			border-radius 5px !important
			transition all .1s