@import normalize
@import variables


body
	// background-color: $color-bg
	background-color: #111
	background-image url('/images/bg.gif')
	color: $color-primary
	font-family: $font-family-default


#synth
	position absolute
	top 0
	left 10%
	bottom 0
	margin auto
	width 1100px
	height 450px
	// width 50vw
	// height 55vh
	// min-width 820px
	// min-height 435px
	padding 5px
	display flex
	justify-content flex-start
	background-color: rgba(38, 39, 47, .75)
	box-shadow: 1px 1px 0px $color-primary
	border: 2px solid $color-primary
	border-radius 10px
	opacity 0
	animation: fade-in .4s
	animation-fill-mode forwards
	box-shadow:
		1px -0px rgb(127,255,255), 1px -1px rgb(192,255,255),
		2px -1px rgb(126,254,254), 2px -2px rgb(191,254,254),
		3px -2px rgb(125,253,253), 3px -3px rgb(190,253,253),
		4px -3px rgb(124,252,252), 4px -4px rgb(189,252,252),
		5px -4px rgb(123,251,251), 5px -5px rgb(188,251,251),
		6px -5px rgb(122,250,250), 6px -6px rgb(187,250,250)

	.module
		position relative
		flex 0 1 20%
		display flex
		flex-direction column
		justify-content center
		align-items center
		margin-right 5px
		border-right: 1px solid $color-primary
		justify-content flex-end
		&:last-child
			border none
			margin none

		&.vcf
		&.lfo
			justify-content center
		&.vca
			align-items flex-start
			.knob-wrapper
				margin 0 0 0 10px
				&:after
					left unset
					bottom 50%
					left 110%
					margin auto
		h2
			position absolute
			top 5px
			left 0
			right 0
			margin auto
			text-align center
			text-transform uppercase
			letter-spacing 2px
			text-shadow 2px 2px 0px #111
		.knob-wrapper
			position relative
			margin 15px 0
			text-align center
			&:after
				content attr(data-label)
				position absolute
				left 0
				right 0
				bottom -5px
				margin auto
				font-size 17px
				text-align center
				text-shadow 1px 1px 0px #111
				letter-spacing 1px
			&>*
				display inline-block !important
			input
				letter-spacing 1px
				text-shadow 1px 2px 0px #111

		.knob-group
			display flex
			// width calc(100% - 10px)
			justify-content center
			.knob-wrapper
				flex 1 0 50%
				align-self flex-end
				user-select none

canvas
	filter drop-shadow(0px 1px 1px #111)

input
	user-select none

#keyboard
	display none



@keyframes fade-in
	0%
		opacity 0
	100%
		opacity 1