// variables
@import fonts

// colors
$color-bg			= #f2f2f2
$color-dark 		= #34363c
$color-light		= #a7a7a7
$color-primary 		= #c0ffff
$color-accent 		= #e5007c


// fonts
$font-family-default = 'Orbitron', sans-serif